<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta charset="utf8" />
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1>Contact Us</h1>
    <p>Send us an email below and we'll get in touch immediately</p>

    <form id='contact-form' method='POST' action="/contact">
      <label for="who">Who do you want to contact</label>
      <input type='text' name='who' />
      <label for='department'>Which department</label>
      <input type='text' name='department' />
      <label for='email'>Your email address</label>
      <input type='email' name='email' />
      <input type='submit' value='Submit' />
    </form>
    
  </body>
</html>