<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta charset="utf8" />
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1>Contact Us</h1>
    <p>Thanks for getting in touch</p>
    <p>You contacted <%= data.who %> in the <%= data.department %> department</p>
    <p>We will reply you at <%= data.email %>. Kepp in touch!</p>

  </body>
</html>