<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta charset="utf8" />
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1>Contact Us</h1>
    <p>Send us an email below and we'll get in touch immediately</p>
  </body>
</html>