<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta charset="utf8" />
  </head>
  <body>
    <h1>User profile view</h1>
    <p>This page show profile of different users</p>
  </body>
</html>